<!DOCTYPE html>
<html>
<head>
  <title>ThemeRenderer</title>
  <%= stylesheet_link_tag    "theme_renderer/application", :media => "all" %>
  <%= javascript_include_tag "theme_renderer/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
